body {
    background-color: rgb(230, 200, 149);
    display: flex;
    justify-content: center;
}

#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
    border: 2px solid black;
}

#cabecera {
    width: 100%;
    height: 15%;
    background-color: rgb(230,200,149);
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
}

#navegacion {
    width: 100%;
    height: 5%;
    background-color: rgb(171,161,134);
    border: 1px solid black;
    display: flex;
    align-items: center;
}

#seccion {
    width: 64%;
    height: 64%;
    background-color: rgb(151,158,54);
    float: left;
    border: 1px solid black;
    text-align: center;

}

#asize {
    width: 34%;
    height: 64%;
    background-color: rgb(190,193,79);
    float: right;
    border: 1px solid black;
}

#pie {
    width: 100%;
    height: 10px;
    background-color:rgb(230,200,149);
    border: 1px solid black;
    
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;;
}

img{
    width: 100px;
    height: 100px;
    border-top: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}
ul{
    text-align: center;

}
li{
    display: inline-block;
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;





header {
    background-color: gb(230, 200, 149);
}

nav {
    background-color: rgb(171, 161, 134);
}

section {
    background-color: rgb(151, 158, 54);
}

aside {
    background-color: rgb(190, 193, 79);
}

footer {
    background-color: rgb(230, 200, 149);
}